JWT_SECRET_KEY=

# Production
DATABASE_URL=


# Development
DB_USERNAME_DEV =
DB_NAME_DEV=
DB_HOST_DEV=
DB_PASSWORD_DEV=
DB_DIALECT_DEV=

# Testing
DB_USERNAME_TESTING=
DB_NAME_TESTING=
DB_PASSWORD_TESTING=
DB_DIALECT_TESTING=
DB_HOST_TESTING=